<%- include('includes/header') %>


<nav class="navbar navbar-inverse">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Cars</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/users/logout">Logout</a></li>

         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

       <div class="container">

         <div class="starter-template">
           <h1>Want to buy a car?</h1>
           <p class="lead"> Choose from Down Below </p>
         </div>


        <div id = "cars">

        <% function displayCars(){ %>
            <ul class = "col-lg-3 row">
            <%for(i=0;i<cars.length;i++){%>
              <li class = ""> Car: <%=cars[i].name %></li>
              <li>Price: <%= cars[i].price%></li>
              <li> <a href = "/purchase"> Click Here to Purchase </a></li>
          <% } %>
              </ul>
      <%  } %>
          <%displayCars()%>

        </div>

       </div>
<%- include('includes/footer') %>
